/* JNM CONSULTING LLC 2021
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  /* background: url("images/background.jpg"); */
  background: linear-gradient(#2F4F4F, #00FF7F, #2F4F4F);
  background-position: center;
  background-attachment: fixed;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
  padding-top: 10px 20px 15px 15px 15px;
  margin-bottom: 15px;
}

footer {
  position: fixed;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
  width: 100%;
  left: 0;
  bottom: 12px;
}

menu {
  
}
