/* JNM CONSULTING LLC 2021
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  /* background: url("images/background.jpg"); */
  background: linear-gradient(#CD853F, #00FF7F, #4B0082);
  background-position: center;
  background-attachment: fixed;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
  padding-top: 50px;
  margin-bottom: 50px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: white;
  margin: auto;
  text-align: center;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 75px;
  color: white;
  margin: auto;
  text-align: center;
}

footer {
  position: fixed;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
  width: 100%;
  left: 0;
  bottom: 12px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #4169E1;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 125px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
